@model HakunaMatataWeb.Models.ESOGuides.ESOGuideViewModel
@using HakunaMatataWeb.Services.Extensions

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Details</title>
</head>
<body>
	@*<div>
			<h4>ESOGuide</h4>
			<hr />
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => model.GuideType)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.GuideType)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Title)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Title)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.SubTitle)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.SubTitle)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Content)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Content)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Author)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Author)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.CreationDate)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.CreationDate)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.LastUpdatedDate)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.LastUpdatedDate)
				</dd>
			</dl>
		</div>*@
	<div class="container">
		@Html.Raw(Model.ContentHtml)
	</div>
	<p>

		@if (User.GetClaimValueInt<HakunaMatataWeb.Data.Enums.GuildRank>() > 2)
		{
			@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
			<br />
			@Html.ActionLink("Back to List", "Index")
			<br />
			@Html.ActionLink("ESO Guides", "Guides", "ESOGuide");
		}
		else
		{
			@Html.ActionLink("ESO Guides", "Guides", "ESOGuide");
		}
	</p>
</body>
</html>