@using HakunaMatataWeb.Extensions
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Sidebar/css")
	@Scripts.Render("~/bundles/modernizr")
	<style>

	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		@Html.ActionLink("Hakuna Matata", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
				</li>

				@if (User.GetClaimValueString(HakunaMatataWeb.Models.CustomClaims.SiteRank.ToString()).Equals("Developer"))
				{
					<li class="nav-item">@Html.ActionLink("Admin", "AdministerUsers", "Admin", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
				}
				@if (User.GetClaimValueInt<HakunaMatataWeb.Data.Models.GuildRank>() > 2)
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Guild Events
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							@Html.ActionLink("Events", "Index", "GuildEvents", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
							<div class="dropdown-divider"></div>
							@Html.ActionLink("Adminstrate", "Administrate", "GuildEvents", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
							@Html.ActionLink("Create Event", "Create", "GuildEvents", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ESO Guides
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							@Html.ActionLink("Guides", "Guides", "ESOGuide", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
							<div class="dropdown-divider"></div>
							@Html.ActionLink("Guides List", "Index", "ESOGuide", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
							@Html.ActionLink("Create Guide", "Create", "ESOGuide", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
						</div>
					</li>
				}
				else
				{
					<li class="nav-item">@Html.ActionLink("Guild Events", "Index", "GuildEvents", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("ESO Guides", "Guides", "ESOGuide", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
				}

				@if (User.GetClaimValueInt<HakunaMatataWeb.Data.Models.SiteRank>() > 2)
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							News
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							@Html.ActionLink("News", "Index", "News", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
							<div class="dropdown-divider"></div>
							@Html.ActionLink("Administrate", "Administrate", "News", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
							@Html.ActionLink("Create", "Create", "News", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
						</div>
					</li>
				}
				else
				{
					<li class="nav-item">@Html.ActionLink("News", "Index", "News", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
				}
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>
	<div class="container-fluid">

		<div class="body-content">
			@RenderBody()
		</div>

		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
						Start Bootstrap
					</a>
				</li>
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a href="#">Shortcuts</a>
				</li>
				<li>
					<a href="#">Overview</a>
				</li>
				<li>
					<a href="#">Events</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	

	<footer class="container-fluid">
		<hr />
		<p>&copy; @DateTime.Now.Year - M.Howard. All rights reserved</p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
