@using HakunaMatataWeb.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<h2 class="text-center mt-4">@ViewBag.Title</h2>
<hr />

<section id="loginForm">
	@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="d-flex justify-content-center">
			<div class="col-4 p-0 m-4">
				<div class="input-effect">

					<input class="effect-18" type="text" placeholder="Username"
						   data-val-required="The User Name field is required."
						   id="UserName" name="UserName" autocomplete="on"
						   aria-describedby="UserName-error" aria-invalid="false" />
					@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
					<span class="focus-border">
						<i></i>
					</span>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="col-4 p-0 m-4">
				<div class="input-effect">

					<input class="effect-18" type="password" placeholder=""
						   data-val-required="The Password field is required."
						   id="Password" name="Password" autocomplete="on"
						   aria-describedby="Password-error" aria-invalid="false" />
					@Html.LabelFor(m => m.Password)
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					<span class="focus-border">
						<i></i>
					</span>
				</div>
			</div>

		</div>
		@*<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
				<div class="col-md-6">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
			</div>*@
		<div class="d-flex justify-content-center">
			<div class="custom-checkbox">
				@Html.CheckBoxFor(m => m.RememberMe)
				@Html.LabelFor(m => m.RememberMe)
				<span></span>
			</div>
		</div>

		@*<div class="g-recaptcha" data-sitekey="6LdIh2QUAAAAAD3zAym4M0NoC72orzE_qMP_q8Df"></div>*@
		<div class="d-flex justify-content-center mt-4">
					<input type="submit" value="Log in" class="btn btn-success btn-block col-1" />
		</div>
		<div class="d-flex justify-content-center mt-4">
			@Html.ActionLink("Register", "Register", null, new { @class = "btn btn-success btn-block col-1" })
		</div>
		<div class="d-flex justify-content-center mt-4">
			@Html.ActionLink("Forgot your password?", "ForgotPassword")
		</div>
<br /><br /><br /><br /><br />
	}
</section>

@*<div class="col-md-4">
		<section id="socialLoginForm">
			@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
		</section>
	</div>*@


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}