@model HakunaMatataWeb.Models.ViewModels.GuildEvents.GuildEventCalendarViewModel

@{
	ViewBag.Title = "Event Calendar";
}

<style>
	.calendar-panel {
		vertical-align: bottom;
		min-height: 6em;
		width: calc(100% * (1/7) - 10px - 1px);
	}

	.calendar-content {
	}

	/*.calendar-panel:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(transparent 150px, white);
	}*/

	.calendar-panel h1, h2, h3, h4, h5, h6 {
		margin-top: 10px;
		padding-top: 0;
	}
</style>

<h2>Guild Event Calendar</h2>
<h3>@Model.Month</h3>


<div class="col-12" id="CalendarMain">
	<div class="container-fluid">

		@foreach (var day in Model.DayDataList)
		{
			if (Model.DayDataList.IndexOf(day) == 0)
			{
				@:<div class="row">
			}
			<div class="border calendar-panel">
				<div class="col-12 text-left">
					<h3>@day.DayOfMonth | @day.DayName</h3>
				</div>
				<div class="col-12">
					<ul class="list-group">
						@if (day.GuildEvents != null && day.GuildEvents.Count > 0)
						{
							foreach (var ge in day.GuildEvents)
							{
								<li class="list-group-item">@Html.ActionLink(ge.Item1, "Details", new { id = ge.Item2 })</li>
							}
						}
					</ul>
				</div>
			</div>
			if (Model.DayDataList.IndexOf(day) == Model.DayDataList.Count - 1)
			{
				@:<div class=@string.Concat("col-" + (10 - (Model.DayDataList.IndexOf(day) % 7)))>
				@Html.Raw("</div>");
				@Html.Raw("</div>");
			}
			else if ((Model.DayDataList.IndexOf(day) + 1) % 7 == 0)
			{
				@:</div><div class="row">
			}
		}
		</div>
		</div>
